.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #F3EDF7;

    &__input {
        background: none;
        outline: none;
        border: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */

        text-align: left;

        color: black;
        width: 100%;
        margin-left: 196px;
        
    }
    &__input::placeholder{
        color: #9D9D9D;
    }
    &__close, &__back{
        cursor: pointer;
    }
}